--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
langchain==0.3.26
langchain-core==0.3.69
langchain-community==0.3.27
langchain-google-genai==2.0.6
langchain-groq==0.2.0
openai
faiss-cpu
unstructured
pymupdf
langchain-huggingface
transformers
sentencepiece
sentence-transformers
pdfplumber
pandas
tqdm
python-dotenv
streamlit-mic-recorder
SpeechRecognition
gtts
torch==2.2.2+cpu
pydub
typing