streamlit
langchain
openai
faiss-cpu
unstructured
pymupdf
langchain-huggingface
transformers
sentencepiece
pdfplumber
pandas
tqdm
python-dotenv
streamlit-mic-recorder
SpeechRecognition
gTTS
langchain-community
